<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>day1_lab</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!--  this is comment ushing xml tag -->

	<servlet>
		<servlet-name>xyz</servlet-name>
		<servlet-class>web_pages.TestServlet2</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>xyz</servlet-name>
		<url-pattern>/hello2</url-pattern>
	</servlet-mapping>



</web-app>